body{
    font-family: 'Poppins';
}

.section-title{
    text-align: center;
    .underline{
        height: 4px;
        width: 120px;
        margin-top: 10px;
        bottom: -10px;
        background-color: #17a2b8;
    }
}

.baner-pic{
    box-sizing: border-box;
    img{
        max-width: 100%;
        border-radius: 12px;
    }
    
}